<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="body">
    <div class="container">
        <h1>Resultado</h1>
        <p class="result">Sua idade é: {{ idade_anos }} anos, {{ idade_meses }} meses e {{ idade_dias }} dias.</p>
        <a href="/">
            <button href="/" class="buttonback">Voltar </button>
        </a>
    </div>
    
</body>
</html>
